/* my styles */


/*#btn-div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/
/*#btn-div{
	vertical-align: bottom;
}*/

/*#btn-div {
	border: 1px solid red;
}*/
/*#input-div
{
	border: 1px solid red;
	vertical-align: bottom;
}*/
/*button {
	vertical-align: middle;
	padding-top: 50px;
}
input[type=button]{
	display: inline;
	vertical-align: middle;
}*/

/*.col-md-2{
	vertical-align: text-bottom;
}*/