/* CSS declarations go here */

body {
    padding-top: 60px;
}

iframe#viewer_iframe {
    border: 1px solid gray;
    position: absolute;
    width: 100%;
    min-height: 400px;
    resize: both;
}

/*#login-dropdown-list {
    position: absolute;
    min-height: 200px;
}*/