div.jumbotron {
  padding-top: 60px;
}
div.template_root {
  margin-top: 70px;
}        
#external-events {
    width: 150px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

/*#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}*/
